.container {
  padding: 0 2rem;
}

.containersm{
  padding: 0 2rem;
  width: 650px;
}

.main {
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  display: flex;
  padding: 0;
}


.description {
  margin:  0;
  line-height: 1.5;
  font-size: 1.5rem;
}
