.container {
  padding: 0 2rem;
}

.containersm{
  padding: 0 2rem;
  width: 650px;
}

.main {
  min-height: 100vh;
  padding: 4rem 2rem;
}

.about_title{
  position: absolute;
  left: 5em;
  top: 27em;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  display: flex;
  padding: 0;
}


.description {
  margin:  0;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}